Django
django-crispy-forms
django-extensions
#django-filebrowser
#django-grappelli
django-haystack==2.6.0
django-model-utils
django-recaptcha
django-redis
django-staticfiles
django-storages
django-tagulous[i18n]

djangorestframework

requests
#Pillow
psycopg2
uwsgi
