.top-row
  #slideshow
    margin-top: 5px
    .flexslider
      margin: 0
      .flex-control-nav
        text-align: right
        bottom: 0
        li a
          background: $topbar-bg
        li a.flex-active
          background: $topbar-active-bg

.section
  img
    margin-right 5px
  border: 1px solid #ccc
  font-family: $font-text-narrow
  .section-heading
    font-size: 1.4em
    font-weight: $font-weight-head
    text-transform: uppercase
    color: $topbar-active-bg
  .section-item
    display: inline-block
    height: auto
    margin-top: 10px
    .item-teaser, .item-teaser p
      line-height: 120%
      margin-bottom: 0
    li
      font-size: 1.1em
      line-height: 1.2
      display: block
      a
        color: $topbar-bg
        font-weight: 700
        img
          display: inline
          vertical-align: top
    .author
      line-height: 100%
      margin-top 3px
      font-family: $font-text-narrow
      color: #999
      .author-name
        font-variant-caps small-caps


.middle-row /* contains "Recent News" and "Opinion" */
  -moz-box-shadow: 3px 3px 4px #999
  -webkit-box-shadow: 3px 3px 4px #999
  border: 1px solid #ccc
  box-shadow: 3px 3px 4px #999
  margin: 10px auto 10px
  padding: 10px
  .section
    border: 0

#paypal
  .donate
    font-size: .8em


#main-content .section-item
  position: relative
  li a
    font-size: 1.2em
  .icon50
    left: -15px
    position: absolute
    top:  -15px

#fiftieth-news .section-item
  position: relative
  .icon50
    /*** background: url(../img/icon-50th.png) no-repeat left top; ***/
    position: absolute
    left: -10px
    top:  -10px

#world-news
  margin 5px 10px 10px 15px
  .section-item
    li a
      font-size: 1.2em
      font-weight: bold
      color: $topbar-bg
      img
        padding-right: 5px

#world-news, #fiftieth-news
  .section
    border-left: 1px solid #4a6c95


#featured-media, #world-news
  -moz-box-shadow: 3px 3px 4px #999
  -webkit-box-shadow: 3px 3px 4px #999
  /* box-shadow: h-shadow v-shadow blur spread color inset; */
  box-shadow: 3px 3px 4px #999
  height: 100%

#featured-media
  margin-top: 5px
  padding: 10px
  .section
    .section-heading
      margin-bottom: 10px

#featured-audio, #links
  .section-item li
      /* font-family: $font-narrow */
      font-size: 1.1em
      display: block
      line-height: 1.5
