nav
  background $topbar-bg
  padding 0
  .navbar-toggler
    color #fff
    padding 0
    .navbar-toggler-icon
      color #fff
      &:before
        content '\f0c9'
        font-family 'FontAwesome'
        font-size 24px

  .top-bar-left
    .navbar-brand
      float right
    ul.navbar-nav
      li
        line-height 20px
        list-style none
        margin-bottom -8px
        margin-top -8px
        padding 13px 15px 16px
        &.active
          background $topbar-active-bg
          color $topbar-active-text
          cursor: none
        &:hover
          background $topbar-hover-bg
          color $topbar-hover-text
          cursor: none
        a
          color $topbar-text
          text-decoration none
          font-family $font-text-narrow
          // text-transform uppercase
          &:hover
            //cursor none

    form#search-form
      position absolute
      right 50px
      #id_q
        background $topbar-search-bg
        border 1px solid $topbar-search-bg
        border-radius 0.3em 0.3em 0.3em 0.3em
        color #fff
        padding-left 10px
        text-shadow 0 2px 3px rgba(0, 0, 0, 0.1)
        transition all 0.7s ease 0s
        width 100%

      button.search-submit
        border 0
        background transparent

        &:before
          /* background url(../img/search-white.png) no-repeat 0 0 #4a6c95; */
          color darkgrey
          content '\f002'
          font-family 'FontAwesome'
          font-size 18px
          font-style normal
          font-weight normal
          position absolute
          right 2px
          top 0

@media (min-width: 576px)
  nav
    .top-bar-left
      height: 30px

@media (max-width: 991px)
  nav
    .top-bar-left
      form#search-form
        position relative
        right 0
        top 180px
      .navbar-nav
        margin 40px 0 20px

@media (max-width: 576px)
  nav
    .top-bar-left
      form#search-form
        position relative
        top 0
