.nav-paginator-top
  display: inline
  margin-left: 80px
  position: relative
  top: -5px

.nav-paginator
  display: inline
  li
    //color: $topbar-bg
    color: $topbar-active-bg
    display: inline
    font-size: .6em
    font-weight: 400
    list-style: none
    padding: 0 2px
    text-transform: none
    &.current
      background-color: $topbar-active-bg
      color: #fff
      font-size: .6em
      font-weight: 700
    a
      color: $topbar-active-bg

.pagination-centered
  display: inline

.nav-paginator-bottom
  margin: 25px 0px
  padding: 5px
  text-align: center
  .nav-paginator li
    color: #fff
    font-size: .9em
    padding: 0 3px
    &.current
      background-color: #fff
      color: $topbar-active-bg
      font-weight: 700
    a
      color: #fff
  background-color: $topbar-active-bg

.search-paginator-top
  text-align: center
  .pagination-centered li
    color: $topbar-active-bg
    display: inline
    font-size: 1em
    padding: 0 3px
    a
      color: $topbar-active-bg
    &.current
      background-color: $topbar-active-bg
      color: #fff
      font-size: 1em
      font-weight: 700

.search-paginator-bottom
  background-color: $topbar-active-bg
  margin: 0 -15px
  padding: 5px
  text-align: center
  li
    color: #fff
    display: inline
    font-size: 1em
    list-style: none
    padding: 0 3px
    &.current
      background-color: #fff
      color: $topbar-active-bg
      font-weight: 700
    a
      color: #fff
