#sidebar1
  width: 300px
  margin-top: 10px
  text-align: center


#sidebar2
  margin: 15px auto
  padding: 0
  .ad_banner
    text-align: center
    margin-bottom: 25px
  &.section
    border-width: 0


