/* Copyright */
.footer
  .copyright
    background: $topbar-bg
    color: #fff
    margin: 15px auto
    padding: 10px
    text-align: center
    a
      color: #858585
      &:hover
        text-decoration: none
    ul.links
      margin-top: 10px
      text-align: center
      li
        display: inline
        list-style: none
        a
          color: #e3e3e3
  .humans-logo
    text-align: center
