/* Section Listing */
.content-well
  border-right: 1px solid #ccc
  height: auto
  margin-top: 25px
  h1
    margin-top: 0
  .section-subheading-meditations
    color: $topbar-bg
    font-weight: bold
    margin: -1rem 0 1rem
  .section-image
    margin-bottom: 15px

li.article_list
  float: left
  font-family: $font-text-narrow
  line-height: 100%
  list-style: none
  margin: 10px 0
  width: 100%
  .item-teaser, .item-teaser p
    line-height: 120%
  .article_list_thumbnail
    float: left
    margin: 0 5px 5px 0

  a
    color: $topbar-bg
    font-weight: bold

#video-index, #audio-index
  margin-top: 15px
  li
    margin: 0
  .audio_content
    margin-top: 10px

/* Section heading */
h1.section_name
  text-transform: uppercase

.aboutus
  margin-top: 50px
  img
    margin-right: 10px
