#sidebar1
  width: 300px
  margin-top: 10px
  text-align: center

  .founder-acarya
    // Only affects small screens, not medium or large

  #paypal
    position: relative
    margin: 25px auto
    padding-top: 15px
    width: 280px
    text-align: center

  #subscribe-form
    margin: 25px auto
    #email_input
      input
        margin: 0
    #email-submit
      margin-top: 5px

  #meditations
    margin: 20px
    text-align: left
    .section-heading
      font-size: 1.2em
      line-height: 1
      margin: 0;
      padding: 0
      font-weight: $font-weight-head
      a
        color: $topbar-active-bg
    .section-subheading
      color: $topbar-bg
      font-size: 1em
      font-weight: $font-weight-head
    .section-item
      float: left
      font-family: $font-text-narrow
      line-height: 100%
      list-style: none
      margin: 0
    .item-teaser, .item-teaser p
      font-family: $font-text-narrow
      line-height: 120%
      margin: 0
    .more
      margin-top: 40px

#sidebar2
  margin: 15px auto
  padding: 0
  .ad_banner
    text-align: center
    margin-bottom: 25px
  &.section
    border-width: 0


/* related stories */
h2.related_heading
  background-color: $topbar-active-bg
  color: #fff
  font-family: $font-text
  font-size: 1.2em
  font-weight: $font-weight-head
  margin: 25px  -0.9em 15px 0
  padding-left: 25px
  text-transform: uppercase

.related_list
  li
    list-style: none
    margin-bottom: 10px
    font-family: $font-text-narrow
    a
      color: navy

ul.other_stories
  line-height: 120%
  li
    border-bottom: 1px solid $topbar-bg
    float: left
    font-size: .9em
    list-style: none
    margin-bottom: 10px
    padding-bottom: 10px
    width: 100%
    a
      color: $topbar-bg
